div.leaflet-popup-content-wrapper {
  border: 1px solid black;
  text-wrap: nowrap;
  div.leaflet-popup-content {
    align-items: center;
    display: grid;
    grid-template-areas:
      "county-name  county-name  county-name"
      "description description description"
      "bar  bar info";
    justify-items: center;
    h4 {
      grid-area: county-name;
      text-align: center;
    }
    span[lang] {
      grid-area: description;
      text-align: center;
    }
    div {
      &#detailed {
        background-image: url("../resources/info.png");
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: info;
        height: 24px;
        margin: 0px 10px;
        width: 24px;
        &:hover div.explanation {
          opacity: 1;
          visibility: visible;
        }
        div.explanation {
          background-color: white;
          border: 1px solid black;
          border-radius: 4px;
          opacity: 0;
          height: fit-content;
          padding: 10px;
          transition: opacity 0.5s;
          visibility: hidden;
          width: fit-content;
        }
      }
      &.score-bar {
        display: flex;
        flex-direction: row;
        grid-area: bar;
        margin: 25px 0px;
        div {
          height: 10px;
          width: 40px;
          .interval-border {
            bottom: 37px;
            display: grid;
            grid-template-columns: 24px;
            grid-template-rows: 24px 24px;
            justify-items: center;
            left: 28px;
            position: relative;
            .interval-bound {
              align-self: end;
              position: relative;
              top: 5px;
            }
            .interval-seperator {
              font-size: large;
              font-weight: bold;
            }
          }
          &.class-1 {
            #value-pointer {
              bottom: 10px;
              display: grid;
              grid-template-columns: 24px;
              grid-template-rows: 24px 24px;
              justify-items: center;
              position: relative;
              right: 12px;
              #pointer {
                background-image: url("../resources/value_pointer.png");
                transform: rotate(-90deg);
                width: 24px;
                height: 24px;
              }
              #value {
                bottom: 5px;
                font-size: large;
                position: relative;
              }
            }
          }
        }
        &#at-time {
          .class-1 {
            background-color: #fef0d9;
          }
          .class-2 {
            background-color: #fdd49e;
          }
          .class-3 {
            background-color: #fdbb84;
          }
          .class-4 {
            background-color: #fc8d59;
          }
          .class-5 {
            background-color: #e34a33;
          }
          .class-6 {
            background-color: #b30000;
          }
        }
        &#change {
          .class-1 {
            background-color: #4575b4;
          }
          .class-2 {
            background-color: #91bfdb;
          }
          .class-3 {
            background-color: #ffffb2;
          }
          .class-4 {
            background-color: #fecc5c;
          }
          .class-5 {
            background-color: #fd8d3c;
          }
          .class-6 {
            background-color: #f03b20;
          }
          .class-7 {
            background-color: #bd0026;
          }
        }
        &#hotspot-change {
          .class-1 {
            background-color: #e0f3f8;
          }
          .class-2 {
            background-color: #fee090;
          }
          .class-3 {
            background-color: #d73027;
          }
        }
      }
    }
  }
}
