div.leaflet-control-container {
  div.leaflet-control-search {
    border: 1px solid black;
    a.search-button {
      background-image: url("../resources/search.png");
      background-position: center;
    }
  }
}
@media screen and (max-width: 500px) {
  div.leaflet-control-container {
    div.leaflet-control-search {
      display: grid;
      grid-template-columns: calc(25vw - 22px) 30px;
      grid-template-rows: 30px;
      width: calc(25vw + 10px);
    }
  }
}
