<div id="interface">
  <div id="layer-control">
      <div id="risk-control">
        <span lang="de">Wählen Sie eine Gefahr:</span>
        <span lang="en">Please choose a hazard:</span><br>
        {% for risk in risks %}
          <button id={{ risk }} title={{ risk }}></button>
        {% endfor %}
      </div>
      <div id="time-control">
        <span lang="de">Wählen Sie einen Zeitraum:</span>
        <span lang="en">Please choose a time period:</span><br>
        {% for time in times %}
          <button id={% if time == "Gegenwart" %} "current" {% elif time == "Zukunft" %} "future" {% else %} "change" {% endif %}  title={{ time }}></button>
        {% endfor %}
      </div>
  </div>
  <div id="control">
    <button id="language-control" title="Übersetzen" value="en"></button>
  </div>
  <div id="metadata">
      <button id="methods" title="Methodik"></button>
      <button id="sources" title="Quellen"></button>
      <button id="imprint" title="Impressum"></button>
  </div>
  <div id="legend" class="inactive"></div> {# inactive to prevent from displaying at app start #}
</div>
