<h4>{{ county_name }}</h4>
<span id="{{risk}}-{{time}}-result"><b>{% if time == "Veränderung" %} {{risk}}-Veränderung: {% else %} {{risk}}-Risiko: {% endif %}</b>{{ class_name }}</span>
{% if risk == "HotSpots" and time == "Veränderung" %}
  <div id="hotspot-change" class="score-bar">
  {% set left_property = [40 * value + 8, 188]|min %} {# 8px from left end to middle of first bar, then +40px for each class #}
{% elif risk == "HotSpots" %}
  <div id="timed" class="score-bar">
    {% set left_property = [2 * value - 12, 228]|min %} {# 2px represent one score-point, minus offset 12px #}
{% elif time == "Veränderung" %}
  <div id="change" class="score-bar">
  {% if value <= 0 %}
    {% set left_property = [4 * value + 68, -12]|max %} {# 4px represent one score-point, 68px represents zero score-points #}
  {% else %}
    {% set left_property = [4 * value + 68, 268]|min %} {# 4px represent one score-point, 68px represents zero score-points #}
  {% endif %}
{% else %}
  <div id="timed" class="score-bar">
  {% set left_property = [2 * value - 12, 228]|min %} {# 2px represent one score-point, minus offset 12px #}
{% endif %}
  {% for i in range(1, classes + 1) %}
    {% if i == 1 %}
      <div class="class-{{ i }}">
        <div id="value-pointer" style="left:{{left_property}}px;">
            <span id="pointer"></span>
            <span id="value">{% if value >= 0.5 and time == "Veränderung" %} +{{ value|int }} {% else %} {{ value|int }} {% endif %}</span>
        </div>
    </div>
    {% else %}
      <div class="class-{{ i }}"></div>
    {% endif %}
  {% endfor %}
</div>
<div id="detailed">
  <span id="{{risk}}-{{time}}" class='explanation'>
    {% if time != "Veränderung" %}
      {% for detail_name, detail_value in details.items() %}
        {% if risk != "HotSpots" %}
          <span class="{{risk}}-{{time}}-detailed"><b> {{ " ".join(detail_name.split(" ")[2:]) }}: </b>{{ detail_value }}</span><br>
        {% else %}
          <span class="{{risk}}-{{time}}-detailed"><b> {{ detail_name }}: </b>{{ detail_value }}</span><br>
        {% endif %}
      {% endfor %}
    {% else %}
      {% set key = risk ~ " " ~ time %}
      {% for detail_name, detail_value in risk_change_details[key].items() %}
        <span class="{{risk}}-{{time}}-detailed"><b> {{ detail_name.split(" ")[1] }}: </b>{{ detail_value }}</span><br>
      {% endfor %}
    {% endif %}
  </span>
</div>
